OPENMP = NO
CUDA = YES
DEBUG_LEVEL = 0
WARNINGS = OFF
INTEL = NO
CU_SM = 60



MPI4PY_INC_DIR = /home/aero/Code/pyfr_feature/lib/python3.9/site-packages/mpi4py/include
NUMPY_INC_DIR = /home/aero/Code/pyfr_feature/lib/python3.9/site-packages/numpy/core/include
PYTHON_INC_DIR = /home/aero/Code/.local/include/python3.9



SWIG_BIN = /usr/bin

CUDA_INC_DIR=/usr/local/cuda/include
CUDA_LIB_DIR=/usr/local/cuda/lib64

MPI_INC_DIR=/home/aero/Code/.local/openmpi/include
MPI_LIB_DIR= /home/aero/Code/.local/openmpi/lib

