OPENMP = NO
CUDA = YES
DEBUG_LEVEL = 0
WARNINGS = OFF
INTEL = NO
CU_SM = 60

MPI4PY_INC_DIR = /home/lai/.local/lib/python3.10/site-packages/mpi4py/include
NUMPY_INC_DIR = /home/lai/.local/lib/python3.10/site-packages/numpy/core/include
PYTHON_INC_DIR = /usr/include/python3.10

SWIG_BIN =/usr/bin

CUDA_INC_DIR=/home/lai/Software/cuda12.2/include
CUDA_LIB_DIR=/home/lai/Software/cuda12.2/lib64

MPI_LIB_DIR=/home/lai/Software/petsc-3.21.1/linux-openmpi/lib
MPI_INC_DIR=/home/lai/Software/petsc-3.21.1/linux-openmpi/include

