OPENMP = NO
CUDA = YES
DEBUG_LEVEL = 0
WARNINGS = OFF
INTEL = NO
CU_SM = 30

MPI4PY_INC_DIR = /home/staff/l/laiwang/.local/lib/python3.6/site-packages/mpi4py/include
PYTHON_INC_DIR = /usr/include/python3.6m
NUMPY_INC_DIR = /home/staff/l/laiwang/env/lib/python3.6/site-packages/numpy/core
SWIG_BIN = /usr/bin

CUDA_INC_DIR=/usr/local/cuda-10.2/include
CUDA_LIB_DIR=/usr/local/cuda-10.2/lib64

MPI_INC_DIR=/home/staff/l/laiwang/Code/mpi-install/include
MPI_LIB_DIR=/home/staff/l/laiwang/Code/mpi-install/lib
